@font-face {
    font-family: montserrat-regular;
    src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: montserrat-bold;
    src: url(../fonts/Montserrat-Bold.ttf);
}
*{
    margin:0;
    padding:0;
    font-family: montserrat-regular;
}
.back{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(#CBC0DC,#F6B8C3);
    background-position: center;
    background-size: cover;
    position: absolute;

}
.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background:#EEEEEE;
    padding:5px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1.5px 1.5px 1.5px 1.5px #A8A8A7;
    overflow: hidden;
}

.button-box{
    width:210px;
    margin: 20px auto;
    position:relative;
    border: 1px;
    border-color: #B589B0;
    border-radius: 15px;
    border-style:solid;
}
.login-btn{
    padding:10px 20px ;
    cursor: pointer;
    background:transparent;
    border:0;
    left: 10px;
    color: white;
    outline: none;
    position: relative;
}
#btn{
    top:0;
    left:0;
    position: absolute;
    width:105px;
    height: 100%;
    background: linear-gradient(to right,#8164A2,#CBC0DC);
    border-radius: 13px;
    transition: .5s;
}
.input-group{
    top:180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field{
    width:100%;
    padding:10px 0 ;
    margin: 5px 0;
    border-left:0;
    border-top:0;
    border-right:0;
    border-bottom: 1px solid #B589B0;
    outline:none;
    background:transparent;
}
.submit-btn{
    width: 80%;
    padding:10px 30px;
    cursor: pointer;
    display:block;
    margin:auto;
    background: linear-gradient(to right, #8164A2,#CBC0DC);
    border:0;
    outline: none;
    color: white;
    border-radius: 15px;
}
#login{
    left:50px;
}
#registar{
    left:450px
}
.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin: 500px;;
    color:white;
}

.cabeçalho{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin: -20px;;
    color:white;
    font-size: 20px;
}

.icon {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

